h1{
    font-family: arcade;
    color: #7CFC00;
    margin-left: 550px;
    font-size: 100px;
    animation: type 1s steps(6);
    overflow: hidden;
    white-space:nowrap;
    border-right: 4px solid #7CFC00;
    width: 6ch;
    
    }

    @keyframes type {
        0% {
            width: 0ch;
        }
        100% {
            width: 6ch;
        }
    }

.topbar{
    
    overflow: hidden;
    background-color: gray;

}

.topbar a{
    margin: 1;
    font-family: arcade;
    float: left;
    color: #7CFC00;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 24px;

}

.topbar a:hover{

background-color: #ddd;
color: black;

}

.topbar a:active{

    background-color: #04AA6D;
    color: white;

}

body{
    background-color: black;
}

p1{
    font-size: 40px;
    font-family: arcade;
    color: #7CFC00;
}

p2{
    font-size: 35px;
    font-family: arcade;
    color: #7CFC00;
}